body {
    background: #0f2027;
    background: -webkit-linear-gradient(to right,#2c5364,#203a43,#0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
#Gallery .item {
    width: 250px;
    height: 250px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: none;
}
#Gallery .item img {
    transform: scale(1);
    transition-duration: .5s;
} 
#Gallery .item:hover img {
    transform: scale(1.1);
}
#Gallery .item .layout {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    opacity: 0;
    transition-duration: .5s;
}
#Gallery .item:hover .layout {
    opacity: 1;
}
#Gallery .item .layout i {
    transition-duration: .5s;
    cursor: pointer;
}
#Gallery .item .layout i:hover {
    transform: rotate(180deg);
    color: var(--bs-yellow);
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, .5);
}
.error-shake {
    animation: shake;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
}
.same-image-bounce {
    animation: bounce;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
}
.popup.active {
    display: flex;
}
.popup.show {
    opacity: 1;
}

.popup .box {
    width: 500px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.popup .box i , 
.popup .box ul {
    position: absolute;
}
.popup .box i {
    cursor: pointer;
}
.popup .box i:hover,
.popup .box ul li:hover {
    background: var(--bs-yellow);
    color: white;
}
.popup .box i.close {
    top: 20px;
    right: 20px;
}
.popup .box i.next,
.popup .box i.prev {
    transform: translateY(-50%);
}
.popup .box i.next {
    top: 50%;
    right: 20px;
}
.popup .box i.prev {
    top: 50%;
    left: 20px;
}
.popup .box ul {
    transform: translateX(-50%);
    left: 50%;
    bottom: 20px;
    column-gap: 10px;
}
.popup .box ul li,
.popup .box i {
    width: 30px;
    height: 30px;
    background: #0f2027;
    background: -webkit-linear-gradient(to right,#2c5364,#203a43,#0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    color: var(--bs-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    transition-duration: .5s;
}
.popup .box ul li.active {
    background: white;
}
.popup .box ul li.active:hover {
    color: var(--bs-yellow);
}